body {
  overflow-y: hidden;
  overflow-x: hidden; }

textarea {
  resize: none; }

h1 {
  color: violet; }

#overflowTest {
  min-width: auto;
  min-height: 596px; }

#menu {
  color: white;
  padding: 0;
  min-width: auto;
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #000000; }

#menu ul {
  background: #000000;
  min-width: auto;
  padding: 0;
  list-style-type: none;
  text-align: left; }

#menu li {
  min-width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 1em; }

#menu li a {
  text-decoration: none;
  color: #e8e8e8;
  font-weight: bold;
  display: block; }

#menu li:hover {
  background: #3498db; }

#menu::-webkit-scrollbar {
  width: 6px; }

#menu::-webkit-scrollbar-thumb {
  background-color: #3498db; }

#body {
  min-width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 630px; }

#body::-webkit-scrollbar {
  width: 6px; }

#body::-webkit-scrollbar-thumb {
  background-color: #3498db; }

.hover:hover {
  background-color: #3498db; }
