<div class="card-header text-center bg-primary text-light width">
    DASH BOARD
</div>
<div id="overflowTest" class="card-body bg-dark">
    <div class="nav flex-column nav-pills" id="v-pills-tab card-body" role="tablist"
        aria-orientation="vertical">
        <a class="nav-link active rounded-0 text-light" id="v-pills-home-tab" data-toggle="pill" href="#general" role="tab"
            aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-home mr-2"></i>Tổng
            quan</a>
        <a class="nav-link rounded-0 text-light" id="v-pills-profile-tab" data-toggle="pill" href="#bills" role="tab"
            aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-file-invoice-dollar mr-3"></i>Đơn
            hàng</a>
        <a class="nav-link rounded-0 text-light" id="v-pills-messages-tab" data-toggle="pill" href="#products"
            role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-store mr-2"></i>Sản
            phẩm</a>
        <a class="nav-link rounded-0 text-light" id="v-pills-settings-tab" data-toggle="pill" href="#customers"
            role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-user mr-3"></i>Khách
            hàng</a>
        <a class="nav-link rounded-0 text-light" id="v-pills-settings-tab" data-toggle="pill" href="#suppliers"
            role="tab" aria-controls="v-pills-settings" aria-selected="false"><i
                class="fas fa-truck-moving mr-2"></i>Nhà cung
            cấp</a>
        <a class="nav-link rounded-0 text-light" id="v-pills-settings-tab" data-toggle="pill" href="#property"
            role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-tools mr-2"></i>Thuộc
            tính</a>
    </div>
</div>
<div class="card-footer text-center bg-primary text-light">
    Footer
</div>