<div class="card-header bg-primary text-light rounded-0">Bảng Điều Khiển</div>
<div id="menu">
    <ul id="overflowTest">
        <li><a href="/"><i class="fas fa-home mr-2"></i>Tổng quan</a></li>
        <li><a href="/don-hang"><i class="fas fa-file-invoice-dollar mr-3"></i>Đơn hàng</a></li>
        <li><a href="/san-pham"><i class="fas fa-store mr-2"></i>Sản phẩm</a></li>
        <li><a href="/khach-hang"><i class="fas fa-user mr-3"></i>Khách hàng</a></li>
        <li><a href="/nha-cung-cap"><i class="fas fa-truck-moving mr-2"></i>Nhà cung cấp</a></li>
        <div class="accordion" id="accordionExample">
            <li>
                <a type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    <i class="fas fa-tools mr-2"></i>
                    Cài đặt
                    <i class="fas fa-angle-down ml-2"></i>
                </a>
            </li>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="bg-dark">
                    <div class="hover">
                        <a href="/loai-san-pham" class="btn btn-block text-light rounded-0 text-left"><i class="fas fa-divide mr-2"></i></i>Loại sản phẩm</a>
                    </div>
                    <div class="hover">
                        <a href="/don-vi-tinh" class="btn btn-block text-light rounded-0 text-left"><i class="fab fa-untappd mr-2"></i>Đơn vị tính</a>
                    </div>
                    <div class="hover">
                        <a href="/thuoc-tinh" class="btn btn-block text-light rounded-0 text-left"><i class="fas fa-balance-scale-right mr-2"></i>Thuộc tính</a>
                    </div>
                    {{!-- <div class="hover">
                        <a href="/the-tich" class="btn btn-block text-light rounded-0 text-left"><i class="fas fa-glass-whiskey mr-2"></i>Thể tích</a>
                    </div>
                    <div class="hover">
                        <a href="/kich-thuoc" class="btn btn-block text-light rounded-0 text-left"><i class="fas fa-ruler mr-2"></i>Kich thước</a>
                    </div> --}}
                    {{!-- <div class="hover">
                        <a href="/quan-huyen" class="btn btn-block text-light rounded-0 text-left"><i class="fas fa-map-marker mr-2"></i>Quận / Huyện</a>
                    </div> --}}
                    <div class="hover">
                        <a href="/tinh-thanh-pho" class="btn btn-block text-light rounded-0 text-left"><i class="fas fa-city mr-2"></i>Tỉnh / Thành phố</a>
                    </div>
                    <div class="hover">
                        <a href="/hinh-thuc-thanh-toan" class="btn btn-block text-light rounded-0 text-left"><i class="fab fa-cc-visa mr-2"></i>HT Thanh toán</a>
                    </div>
                    <div class="hover">
                        <a href="/hinh-thuc-van-chuyen" class="btn btn-block text-light rounded-0 text-left"><i class="fas fa-truck-moving mr-2"></i>HT Vận chuyển</a>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>