{{!-- <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2">
        <div class="card-header text-center bg-primary text-light width">
            DASH BOARD
        </div>
        <div id="overflowTest" class="bg-black">
            <div class="nav flex-column nav-pills bg-dark" id="v-pills-tab card-body" role="tablist"
                aria-orientation="vertical">
                <a class="nav-link active rounded-0 text-light" id="v-pills-home-tab" data-toggle="pill" href="#general"
                    role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-home mr-2"></i>Tổng
                    quan</a>
                <a class="nav-link rounded-0 text-light" id="v-pills-profile-tab" data-toggle="pill" href="#bills"
                    role="tab" aria-controls="v-pills-profile" aria-selected="false"><i
                        class="fas fa-file-invoice-dollar mr-3"></i>Đơn hàng</a>
                <a class="nav-link rounded-0 text-light" id="v-pills-messages-tab" data-toggle="pill" href="#products"
                    role="tab" aria-controls="v-pills-messages" aria-selected="false"><i
                        class="fas fa-store mr-2"></i>Sản
                    phẩm</a>
                <a class="nav-link rounded-0 text-light" id="v-pills-settings-tab" data-toggle="pill" href="#customers"
                    role="tab" aria-controls="v-pills-settings" aria-selected="false"><i
                        class="fas fa-user mr-3"></i>Khách
                    hàng</a>
                <a class="nav-link rounded-0 text-light" id="v-pills-settings-tab" data-toggle="pill" href="#suppliers"
                    role="tab" aria-controls="v-pills-settings" aria-selected="false"><i
                        class="fas fa-truck-moving mr-2"></i>Nhà cung
                    cấp</a>
                <a class="nav-link rounded-0 text-light" id="v-pills-settings-tab" data-toggle="pill" href="#property"
                    role="tab" aria-controls="v-pills-settings" aria-selected="false"><i
                        class="fas fa-tools mr-2"></i>Thuộc
                    tính</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-10 col-xl-10">
        <div class="tab-content mt-3" id="v-pills-tabContent position-absolute">
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general">{{>
                tong-quan}}</div>
            <div class="tab-pane fade" id="bills" role="tabpanel" aria-labelledby="bills">{{> don-hang}}</div>
            <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products">{{> san-pham}}</div>
            <div class="tab-pane fade" id="customers" role="tabpanel" aria-labelledby="customers">{{> khach-hang}}</div>
            <div class="tab-pane fade" id="suppliers" role="tabpanel" aria-labelledby="suppliers">{{> nha-cung-cap}}
            </div>
            <div class="tab-pane fade" id="property" role="tabpanel" aria-labelledby="property">{{> thuoc-tinh-chung}}
            </div>
        </div>
    </div>
</div> --}}
<li class="list-group-item">
    <div class="form-group">
        <a type="button" href="/don-hang/tao" class="btn btn-outline-primary">Thêm mới</a>
    </div>
</li>