<div class="container-fluid mt-3">
    <h2>Danh sách Tỉnh / Thành phố</h2>
    <ul class="list-group mt-3">
        <li class="list-group-item">
            <form id="city" class="mt-3 mb-3 form-inline" method="POST" action="/tinh-thanh-pho/{{this._id}}?_method=PUT">
                <label for="city">Tỉnh / Thành phố</label>
                <div class="form-group mr-3 ml-3">
                    <input type="text" class="form-control focus" id="city" name="cityprovince"
                        value="{{this.cityprovince}}">
                </div>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </form>
        </li>
    </ul>
</div>