<form class="mt-3 mb-3 ml-3 form-inline">
    <label for="mass">Khối lượng</label>
    <div class="form-group mr-3">
        <input name="mass" type="text" class="form-control" id="mass" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>