<form class="mt-3 mb-3 mr-4 ml-4 form-inline">
    <label for="product-type">Loại sản phẩm</label>
    <div class="form-group mr-3">
        <input name="product-type" type="text" class="form-control" id="product-type" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>