<form class="mt-3 mb-3 mr-4 ml-4 form-inline">
    <label for="volume">Thể tích</label>
    <div class="form-group mr-3">
        <input name="volume" type="text" class="form-control" id="volume" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>